/*
 *
 *信息提交-基础信息
 *
 */
.content {
	padding-top: 20px;
}
strong {
	display: inline-block;
	width: 8px;
    color: #f02121;
    margin-right: 6px;
}
.form-horizontal {
	position: relative;
}
.myCrowdfunds{
	background: #fff;
	width: 924px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	padding: 46px;
	margin-bottom: 116px;
}
.procedure {
	text-align:center;
}
.example{
    position: absolute;
    bottom: -34px;
    right: -24px;
    z-index: 999;
    color: #33c69b;
    font-size: 16px;
}
.info_main{
	position:fixed;
	top:109px;
	left:50%;
	z-index:99999;
	color:#f74a3d;
	background:#fff;
	border-radius:0 0 10px 10px;
    width: 280px;
    height: 53px;
    line-height: 53px;
    text-align: center;
    margin-left:-140px;
    font-size: 16px;
    box-shadow: 0px 3px 3px rgba(9,4,2,0.12);
    -webkit-box-shadow: 0px 3px 3px rgba(9,4,2,0.12);
    -ms-box-shadow: 0px 3px 3px rgba(9,4,2,0.12);
    -o-box-shadow: 0px 3px 3px rgba(9,4,2,0.12);
}
/* 基础信息部分开始 */
.colorChange{
	color:#333;
	padding:36px 0;
	overflow:hidden;
}
.colorChange label {
	font-size: 14px;
	font-weight: normal;
	margin-right: 23px;
}
.colorChange .info{
	margin:0;
	line-height:36px;
	float:left;
}
.brief_title {
	font-size: 14px;
	display: inline-block;
}
.registration ul li.info span{
	margin:5px 36px;
}
#tfup_icon{
	margin-left:47px;
	float:none;
	padding:0 33px;
	width:auto;
	background:url("../../../../file/tf/tfup/images/tfup_icon.png") left center no-repeat;
	background-size:21px 21px;
}
#sign{
	padding:0 10px;
	float:none;
}
.registration ul li.info{
	float:none;
    margin: 20px 0;
	position:relative;
}
.info select {
	width: 300px;
	height: 42px;
	font-size: 14px;
	padding: 0 18px;
	border-radius: 2px;
	border: 1px solid #d3d3d3;
	background: url(../../../file/zmiao/images/person/electric.png) no-repeat right 18px top 18px;
}
.registration ul li.info label{
	font-weight:normal;
	width:80px;
}
.registration ul li.info input,.registration ul li.info textarea{
	float: none;
    width: 705px;
    height: 42px;
    font-size: 14px;
    padding: 0px 20px;
    border-radius: 3px;
    border: 1px solid #d3d3d3;
}
.registration ul li.info textarea{
	resize:none;
}
.tvLink {
    position: absolute;
    top: -3px;
    right: 37px;
}
.upload {
    width: 120px;
    padding: 33px 0;
    border-radius: 2px;
    text-align: center;
    display: inline-block;
    border: 1px solid #d3d3d3;
    position: relative;
    left: -6px;
}
#itemLogo {
	width: 120px;
    height: 120px;
    position: absolute;
    top: 0;
    left: 93px;
    opacity: 0;
}
.alt_pic {
	position: absolute;
    bottom: -4px;
    left: 188px;
}
#itemLogo2 {
    width: 120px;
    height: 120px;
    position: absolute;
    right: 0;
    bottom: 4px;
	opacity: 0;
}
.show_item {
	position: absolute;
    top: 0;
    left: 101px;
    border-radius: 2px;
}
.item,.item .real_pic {
    width: 120px;
    height: 120px;
}
/* 附件上传 */
#video_address label{
	padding-right: 0;
	margin-top: 5px;
}
#video_address input{
    padding: 8px 20px;
    width: 84%;
    margin: 0 20px 0 33px;
}
#video_address img{
	width:28px;
    position: relative;
    top: 8px;
}
#business_plan label{
    background: url("../../../../file/tf/tfup/images/business_icon.png") left center no-repeat;
  	background-size: 15px 15px;
 	margin-top: 5px;
}
.file-down{
	font-size: 12px;
	padding:0 33px;
	color:#666;
	position: relative;
	top: -14px;
}
/* 项目标签 */
#project_tag label,#info_help label{
	width:100%;
	text-align:left;
	color: #333;
  	font-size: 16px;
  	padding-left:20px;
  	font-weight:normal;
  	margin-bottom:15px;
  	padding:10px 0;
}
.compRangList{
	display: inline;
	text-align:justify;
}
.compRangList a{
    color: #666;
    border: 1px solid #eeeeee;
    padding: 5px 20px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 12px;
}
/* 寻求帮助 */
#btnLogin{
	width:330px;
	height:42px;
	font-size: 16px;
	color: #fff;
	background:#33c69b;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}
.login-submit{
	text-align: center;
	margin-bottom: 10px;
}
.login-submit p{
	color:#666;
	font-size:12px;
	margin-top:10px;
}
.login-submit b{
	color:#f74a3d;
	font-weight:normal;
}
/* 创业者融资项目商业计划书发布协议  */
.entrepreneur_plan{
	cursor:pointer;
}
.entrepreneur_business_plan{
	color:#666;
	font-size:12px;
	background:#fff;
	width:998px;
	margin-left:352px;
	display:none;
	position:absolute;
	top:140px;
	left:51%;
	padding:0 100px;
	transform:translateX(-81%);
	-webkit-transform:translateX(-81%);
	-ms-transform:translateX(-81%);
	-o-transform:translateX(-81%);
	text-align:left;
}
.entrepreneur_business_plan h2{
	text-align:center;
	border-bottom:1px solid #e3e3e3;
	color:#333;
	font-size:16px;
}
.business_agree_content{
	line-height:28px;
	margin:10px 36px;
}
.close_plan{
	position:fixed;
	right:20%;
	top:88px;
	width:33px;
	height:83px;
	background: url('../../../../file/tf/tfup/images/close_plan.png') 5px 15px no-repeat;
  		background-size: 28px 68px;
  		z-index:99;
  		cursor:pointer;
  		display:none;
}
.close_light{
	animation: upin 1s ease;
	-webkit-animation: upin 1s ease;
	-moz-animation: upin 1s ease;
	-ms-animation: upin 1s ease;
	-o-animation: upin 1s ease;
}
@keyframes upin{
	0% {
		top:95px
	}
	100% {
		top:80px
	}
}
@-webkit-keyframes upin{
	0% {
		top:100px
	}
	100% {
		top:50px
	}
}
/* 页面警告框 */
.alertShow{
	width:60%;
	min-height:60px;
	max-width:500px;
	border:1px solid #999;
	border-radius:5px;
	background:#fff;
	position:fixed;
	top:30%;
	left:50%;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	text-align:center;
	color:#f74a3d;
	padding:40px 10px 10px;
	box-shadow:0 0 10px #999;
	-webkit-box-shadow:0 0 10px #999;
	-moz-box-shadow:0 0 10px #999;
	-ms-box-shadow:0 0 10px #999;
	-o-box-shadow:0 0 10px #999;
	z-index:99;
	display:none;
}
.common_mask{
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.4);
	position:fixed;
	top:0;
	left:0;
	display:none;
}
label img{
	width:7px;
	height:7px;
	margin-right:5px;
}
.tv_help{
	width: 20px;
    position: relative;
    top: 5px;
    right: 12px;
}
.itemSign {
	line-height: 16px;
	vertical-align: top;
}